body {
    font-family: "Futura", "Helvetica Neue", Helvetica, sans-serif;
}
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

canvas.foreground {
    /*display: none;*/
    /*background: #f15261;*/
}

body {
    margin: 0;
}

table {
    border-collapse: collapse;
}

#right_block {
    position: absolute;
    left: 550px;
    top: 10px;
}

#right_block table td, #right_block table th {
    border: 2px #e1e1e5 solid;
    text-align: center;
    padding: 8px;
}

#territory {
    margin-top: 20px;
}

#territory table{
    width: 100%;
}

.strong {
    font-weight: bold;
}

.circle:before {
    content: ' \25CF';
    font-size: 25px;
}