html, body { /* disable scrolling */
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    font-family: "Futura", "Helvetica Neue", Helvetica, sans-serif;
}

canvas {
    position: absolute;
}

body {
    margin: 0;
}

#score table {
    border-collapse: collapse;
    width: 100%;
}

#right_block {
    position: absolute;
    left: 520px;
    top: 10px;
}

#right_block table td, #right_block table th {
    border: 2px #e1e1e5 solid;
    text-align: center;
    padding: 8px;
}

#territory {
    margin-top: 20px;
}

#territory table {
    width: 100%;
}

.strong {
    font-weight: bold;
}

.circle:before {
    content: ' \25CF';
    font-size: 25px;
}

#mobile_help .btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
}

.modal {
    display: none;
    background: rgba(0, 0, 0, .30);
    z-index: 999;
}

.modal .modal-dialog {
    position: relative;
    margin: 30px auto;
    width: 1100px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.wrapper {
    position: relative;
    margin: 20px auto;
    background: white;
    width: 50px;
    height: 50px;
}

.wrapper,
.wrapper * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    /*background: #08c;*/
    border: 5px solid rgba(0, 0, 0, 0.5);
}

:root {
    --duration: 15s;
}

.wrapper {
    visibility: hidden;
}

.wrapper.active {
    visibility: visible;
}

.wrapper.active .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota var(--duration) linear;
}

.wrapper.active .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    border-left: none;
}

.wrapper.active .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
}

#timer {
    visibility: hidden;
}

.alert {
    z-index: 400;
    float: left;
    margin-left: 10px;
    margin-top: 500px;
    display: none;
}

.btn-info, .btn-info:hover, .btn-info.disabled, .btn-info:disabled {
    color: white !important;
}
